<%- include('../partials/header') %>
      <h2>My Home Page</h2>
  <p><img class="pic" src="images/ejs-logo.png" /></p>
<p>Clever content goes here</p>
<p>Clever content goes here</p>
<p>Clever content goes here</p>
<p>Clever content goes here</p>
<p>Clever content goes here</p>
<%- include('../partials/footer') %>
